.angle-input .angle-input-circle {
  float: left;
  position: relative;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  border: 1px solid #ced4da;
  cursor: pointer;
  outline: none;
  margin-right: 5px;
}

.angle-input .angle-input-circle:focus {
  border: 1px solid #80bdff;
  cursor: pointer;
}

.angle-input .angle-input-pivot {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -1px;
  height: 2px;
}

.angle-input .angle-input-pivot::before {
  content: '';
  position: absolute;
  right: 5px;
  top: 50%;
  width: 10px;
  margin-top: -6px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.angle-input .angle-input-circle:focus .angle-input-pivot::before {
  border: 1px solid #80bdff;
}

.angle-input input {
  width: calc(100% - 45px);
  display: inline-block;
}
