.box-style-input {

    .box-style-input-label {
        font-size: 11px;
        color: #ededed;
        position: absolute;
        top: 1px;
        left: 5px;
    }

    .box-style-input-margin {
        position: relative;
        padding: 20px;
        background-color: #AF794E;
    }

    .box-style-input-border {
        position: relative;
        padding: 20px;
        background-color: #E5BD7D;    
    }

    .box-style-input-padding {
        position: relative;
        padding: 20px;
        background-color: #AEBD7A;    
    }

    .box-style-input-div {
        background-color: #78A9B4;
        height: 40px;
    }

    .prop {
        position: absolute;
        text-align: center;
        width: 40px;
        height: 20px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
    
        &:empty {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iYmxhY2siIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNMTkgMTNINXYtMmgxNHYyeiIvPjwvc3ZnPg==");
        }
        
        &.prop-t {
            left: 50%;
            transform: translateX(-50%);
            top: 0;
        }

        &.prop-r {
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
            right: -10px;
        }

        &.prop-b {
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }

        &.prop-l {
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
            left: -10px;
        }
    }
    
    .box-style-popover {
        margin: 10px;
        background-color: #fff;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        z-index: 1100;

        .box-style-popover-header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .close {
                cursor: pointer;
                width: 15px;
                height: 15px;
                padding: 0;
                margin: 0 0 0 auto;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTBwdCIgaGVpZ2h0PSIxMHB0IiB2aWV3Qm94PSIwIDAgMTAgMTAiIHZlcnNpb249IjEuMSI+CjxnIGlkPSJzdXJmYWNlMSI+CjxwYXRoIHN0eWxlPSIgc3Ryb2tlOm5vbmU7ZmlsbC1ydWxlOm5vbnplcm87ZmlsbDpyZ2IoMCUsMCUsMCUpO2ZpbGwtb3BhY2l0eToxOyIgZD0iTSA5LjQ5MjE4OCAxLjQ0NTMxMiBMIDguNTc0MjE5IDAuNTA3ODEyIEwgNSA0LjEwMTU2MiBMIDEuNDI1NzgxIDAuNTA3ODEyIEwgMC41MDc4MTIgMS40NDUzMTIgTCA0LjA0Mjk2OSA1IEwgMC41MDc4MTIgOC41NTQ2ODggTCAxLjQyNTc4MSA5LjQ5MjE4OCBMIDUgNS44OTg0MzggTCA4LjU3NDIxOSA5LjQ5MjE4OCBMIDkuNDkyMTg4IDguNTU0Njg4IEwgNS45NTcwMzEgNSBaIE0gOS40OTIxODggMS40NDUzMTIgIi8+CjwvZz4KPC9zdmc+Cg=="); 
            }
        }

    }

}