.file-input {
  overflow: hidden;
}

.file-input .file-input-preview {
  font-size: 14px;
}

.file-input .file-input-preview .file-input-icon {
  float: left;
}

.file-input .file-input-preview .file-input-details {
  margin-left: 70px;
}
