/* ========== Repeater ========== */
.repeater-input .item {
  border: 1px solid #ccc;
  margin-bottom: 25px;
  padding: 10px 10px 0 10px;
}

.repeater-input .template {
  display: none;
}

.repeater-input .close {
  color: #ccc;
}
