/* ========== Repeater ========== */
.repeater-input .item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px 10px 0 10px;
}

.repeater-input [data-repeater-template] {
  display: none;
}

.repeater-input .close {
  color: #ccc;
}
